<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <% if (preds.length > 0) { %>
            <div class="grid">
                <% for (let prediction of preds) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="headers">Prediction</h1>
                        </header>
                        <div class="card__content">
                            <h3 class="predicted-info">Predicted Fuel Efficiency: <%= prediction.mpg %> mpg</h3>
                            <p class="info">Horsepower: <%= prediction.horsepower %> horsepower</p>
                            <p class="info">Weight: <%= prediction.weight %> tons</p>
                            <p class="info">Displacement: <%= prediction.displacement %> cubic inches</p>
                            
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1 class="headers">No Predictions Found!</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %></body>