<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <% if (preds.length > 0) { %>
            <div class="grid">
                <% for (let prediction of preds) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="headers">Prediction</h1>
                        </header>
                        <div class="card__content">
                            <h3 class="predicted-info">Predicted Fuel Efficiency: <%= prediction.mpg %> mpg</h3>
                            <p class="info"><strong>Horsepower:</strong> <%= prediction.horsepower %> horsepower</p>
                            <p class="info"><strong>Weight:</strong> <%= prediction.weight %> tons</p>
                            <p class="info"><strong>Displacement:</strong> <%= prediction.displacement %> cubic inches</p>
                            
                        </div>
                        <form class="input-form" action="/" method="GET">
                            <p class="info-button">Please see the "Horsepower vs. Miles per Gallon" chart to put your prediction into context.</p>
                            <button class="get-btn" type="submit">Descriptive Methods</button>
                        </form>  
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1 class="headers">No Predictions Found!</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %></body>